body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #f9f9f9;
    width: 980px;
    margin: 0 auto;
    color: rgba(0, 255, 245, 0.9);
    text-shadow: 1px 1px 4px #464646;
    background: url("/foto/gradient.jpg") no-repeat;
    background-size: 100vw 100vh;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
}

h1, h2 {
    font-family: serif;
}

main > h2 {
    text-align: center;
    font-size: 25px;
}

.author-foto {
    max-width: 120px;
    box-shadow: 0 51px 101px gray, -5px -10px 20px pink;
}
